[2020-03-22 23:34] jasonajones73 opened #10 "Map and Table cross filtering"
**Need work on an existing feature? **
(a) Allow users to select a point on the map and have it highlight in the table. Inversely, allow users to select a row on the table and have it designated on the map somehow.

(b) I am not 100% sure about what I need to code at this point but I am strongly considering the `crosstalk` package to achieve this.

**Describe alternatives you've considered**
I am

[2020-03-22 23:41] jasonajones73 opened #11 "Reactive filtering for access type"
**Have an idea for an additional feature?**
(a) Need to incorporate reactive filtering when making an access type selection.

(b) When a user selects an access type, the underlying data resource needs to be filtered to only reflect that selection.

(c) Need to create a new reactive context or integrate into an existing one with filtering.

[2020-03-22 23:43] jasonajones73 opened #12 "Reactive filtering for times available"
**Have an idea for an additional feature?**
(a) Need to create reactive filtering for when a user makes a times available selection.

(b) When a user makes a "times available" selection, the underlying data resource needs to automatically filter.

(c) Create a new reactive context or integrate into an existing one with associated filtering.

[2020-03-22 23:45] jasonajones73 opened #13 "Mobile friendly value boxes"
**Need work on an existing feature? **
(a) I'm noticing that when the dashboard is made smaller, everything resizes appropriately except for the value boxes. Not sure if there is a way to handle this in CSS?

(b) Maybe add some inline CSS styling that takes care of that?

[2020-03-23 01:38] readingdancer opened #15 "Add multi-lingual support for the user interface."
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

Allow the interface to be easily translatable into multiple languages.

(b) What do we need to code next?

Add a multilingual framework and change all text labels to use the framework, this should allow others to help add additional languages.

**Describe alternatives you've considered**
I don't know if th

[2020-03-23 02:30] KM-Hanson commented on #15
Our goals for adding multi-lingual support:
(1) Keep the code separate from the translations to make the code cleaner to read and easier to understand.

(2) Make it easier for a non-technical team member to provide translations. Each translation will be in a separate language file.

(3) Translation would mainly pertain to (a) user-choice options and (b) notes about the resources (e.g., "Look for t

[2020-03-23 16:42] jasonajones73 opened #16 "Tabsetting the map and table"
**Have an idea for an additional feature?**
(a) Tabset the map and table so the interface is less cluttered and easier to navigate

(b) Needs to perform the same but just with separate tabs to delineate between map view and table view

(c) Building in the tabsetting to the main page

[2020-03-23 17:04] #16 closed

[2020-03-24 02:20] #10 closed

[2020-03-24 22:51] garrisonreid opened #19 "Draft Wiki"

[2020-03-24 22:51] garrisonreid opened #20 "Draft ReadMe"

[2020-03-24 22:52] garrisonreid opened #21 "Make document re: project replication"

[2020-03-25 20:25] readingdancer commented on #15
The pull request https://github.com/code-for-chapel-hill/COVID-Support-For-CH/pull/22 should fix this issue :)

[2020-03-25 23:45] #15 closed

[2020-03-28 03:55] #20 closed

[2020-03-28 04:04] KM-Hanson opened #25 "Update "What do you need?" drop-down menu"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

This drop-down menu helps users filter the dataset to find the resources that they need.
Currently, the drop-down shows 5 items. We need to add items and edit the order or the items displayed.

(b) What do we need to code next?
The drop down under "What do you need?" should read as follows:

Groceries
Rest

[2020-03-28 04:14] KM-Hanson opened #26 "Update summary banner at the top of page & link summaries to user-selected need"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

The banner at the top of the page is composed of four panels that summarize various aspects of the resources within the database.

Currently, the text of the banners and the icons used are fixed.

(b) What do we need to code next?
 We want the banner to change as the user selects different options from the

[2020-03-28 04:27] KM-Hanson opened #27 "Add "About" section with project information"
**Have an idea for an additional feature?**
(a) Describe the feature

We need an "About" section. Decisions to make: (1) where to place the "about" marker, (2) what text to use for the marker ("About Us"?) and (3) how the feature will function (will it be a pop-up box? navigate to a separate page?)

The information included in the section could be as follows:

This page is powered by the Chapel Hi

[2020-03-28 04:30] KM-Hanson opened #28 "Add a way for "Add your business" to the site"
**Have an idea for an additional feature?**
(a) Describe the feature

It would be nice to have a way for business owners to suggest that their business be added to our database. Should this option live on the "About Us" page? Or should it be a button at the top of the screen?

(b) How does it need to perform?

We don't want the information to automatically be added to the database. I think we want

[2020-03-28 04:34] KM-Hanson opened #29 "Add padding around the map so that scroll bar still works on mobile devices"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

We need whitespace/padding around the map so that the page scrollbar is still visible/functional on mobile devices. Otherwise, the user gets trapped with the map filling the bottom half of the screen and no way to scroll back up to the top of the page.

(b) What do we need to code next?

**Describe alterna

[2020-03-28 04:35] KM-Hanson opened #30 "Limit geographic zoom of the map"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

Can we limit the geographic zoom of the map so that users can't accidentally "zoom out" to the entire US, etc.? Can we limit the max zoom to be slightly larger than NC?

(b) What do we need to code next?

https://leafletjs.com/examples/zoom-levels/

**Describe alternatives you've considered**
A clear and c

[2020-03-28 04:41] KM-Hanson opened #31 "Markers on map disappear when navigating back from a linked resource"
**Describe the bug**
In the current version, when the user clicks on a marker on the map, they see a pop-up call-out that gives the resource name, address, and phone number. The resource name is linked to the establishment's website when available.

When you click on a link to navigate to an external webpage, and then click the "back" button on your browser, you return to our site but the map is b

[2020-03-28 04:44] KM-Hanson opened #32 "Make banner summary panels interact with mapped resources"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

The banner at the top of the page shows four summary panels with information on, for example, discounts offered for medical workers.

(b) What do we need to code next?
We want the user to be able to click on a banner panel and filter for resources that match that information. For example, if the user selec

[2020-03-28 05:15] KM-Hanson opened #33 "Link page to Google Analytics?"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

We should devise a way to view information on how many people use the site and how they are interacting with the site.

(b) What do we need to code next?

Is Google Analytics the best solution for this?

**Describe alternatives you've considered**
A clear and concise description of any alternative solution

[2020-03-28 05:19] KM-Hanson opened #34 "Develop "list view" for resources"
**Have an idea for an additional feature?**
(a) Describe the feature

We need a way to provide a "list view" of the resources. This could be expanded information for one resource or could be a list of all of the resources that match the filter criteria. See screenshots below for 3 different options from a Google map search.

![Screen Shot 2020-03-28 at 1 18 39 AM](https://user-images.githubusercon

[2020-03-28 05:27] KM-Hanson opened #35 "Finalize the Leaflet tile choice"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

We need a tile theme that is not too busy visually but also not so bland that it makes it hard to recognize what part of town you are looking at. The current version seems a bit busy (for example, the trails included in the North Forest area are distracting).

(b) What do we need to code next?

**Describe

[2020-03-28 08:16] readingdancer commented on #26
I have just released a new version of the code where the majority of the above is now working with the appropriate translatable text and calculating all the correct figures from our data.

I have added some additional columns to the spreadsheet and populated them where possible from the data we already had in the information column. There are also additional columns for the extra data required to

[2020-03-29 01:08] readingdancer commented on #30
Thanks Adam, all fixed :)

[2020-03-29 01:08] #30 closed

[2020-03-29 01:16] readingdancer commented on #29
I have fixed this issue, it should no longer be a problem. We actually don't need to add bars at the side, there was another issue with the site that was causing the problem, so I will close this ticket.

[2020-03-29 01:16] #29 closed

[2020-03-29 01:23] readingdancer commented on #33
@suddengenesis Is helping to work on the COVID-19 site, @garrisonreid do you know if we have a group account for Google Analytics? If so, could you have a chat with Adam on Slack?

[2020-03-29 01:27] readingdancer opened #39 "Remove the R project :)"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

As we have now fully moved over to a JS project, I think it makes sense to remove the R project

(b) What do we need to code next?

Delete the folder but keep a ZIP of it in the solution in case anyone wants to take a look at it in the future.

[2020-03-29 01:34] #39 closed

[2020-03-29 02:08] readingdancer commented on #13
Hi @jasonajones73 , if you take another look you should see the site has moved on since you last looked at it. This ticket is not resolved yet as I still have a little bit more styling to do, but it's getting there :)

[2020-03-29 03:26] KM-Hanson opened #41 "Use SMS to collect updates from & communicate with businesses using Twillo"
**Have an idea for an additional feature?**
(a) Describe the feature

It would be great to have a way to message businesses in our database and prompt them to update us if any of their information has changed. Through Code for America, we have access to free/discounted service through Twillo.

Twillo is already being used for lots of COVID-19 projects! They have an [entire COVID page](https://www.

[2020-03-29 03:33] KM-Hanson opened #42 "Fix wording on "free produce" pane within Free Meals banner"
**Describe the bug**
Last panel reads "Free produce location" - should read "Free produce locations" to match "Free grocery locations"

![Screen Shot 2020-03-28 at 11 31 07 PM](https://user-images.githubusercontent.com/58799043/77839620-67bb4200-714c-11ea-8038-b99e9f40f128.png)

[2020-03-29 03:36] KM-Hanson opened #43 "Change wording on banner panels from singular to plural as resource count changes"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

Should the following banner panels have text that switches from singular to plural as we get above a count of 1 resource?

![Screen Shot 2020-03-28 at 11 35 00 PM](https://user-images.githubusercontent.com/58799043/77839700-f7f98700-714c-11ea-94dc-d125787ec896.png)

![Screen Shot 2020-03-28 at 11 34 23 PM]

[2020-03-29 03:51] KM-Hanson opened #44 "Add information on which resource type is being mapped"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

The option to shrink the side bar to the right of the page is great, but it does cause one issue. When the side bar is hidden, the user can't tell which resource category is being mapped (restaurant? pharmacy? etc.) And some of the resources have the same banner categories, which makes it more confusing.

[2020-03-29 03:53] KM-Hanson commented on #32
@readingdancer Is this completed?

[2020-03-29 03:57] KM-Hanson commented on #27
@suddengenesis You are working on this, yes?

[2020-03-29 05:23] KM-Hanson opened #45 "Add "Farms & Farmers Markets" to drop-down menu"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

There are actually a lot of farm stands and farmers markets that are still operational and have pick-up and/or delivery options.

To encourage people to support local farmers we should (a) have this as a drop-down feature and (b) also list these businesses as "grocery" so they show up if someone is searchi

[2020-03-29 05:29] KM-Hanson opened #46 "Add summary banner for "Farms & Farmers Markets" resource option"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

The "Farms & Farmers Markets" resources should have the following panels in the summary bar at the top of the page:

Curbside pick-up
On-farm pick-up
Farmers markets
Online order & pay

[2020-03-29 05:31] KM-Hanson opened #47 "Add drop-down for "Prepared Family Meals" resources"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

Many restaurants are re-tooling to offer prepared meals once or twice a week instead of regular service. We should have a separate drop-down option to highlight these resources.

(b) What do we need to code next?

Add "Prepared Family Meals" to the drop-down list.

[2020-03-29 05:33] KM-Hanson opened #48 "Add summary banner for "Prepared Family Meals" resources"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

We need the following 4 summary banner panels to accompany the "Prepared Family Meals" resources:

Order & pay online
Delivery
Curbside pick-up
Pre-order

[2020-03-29 05:34] KM-Hanson commented on #48
@amkitt We will also need to add a column to the database that codes 0/1 for pre-order

[2020-03-29 05:35] KM-Hanson commented on #46
@amkitt We will need 2 additional columns in the dataset to support the summary panels here (1) on_farm (0/1) and farmers_market (0/1)

[2020-03-29 05:38] KM-Hanson opened #49 "Decide how to cross-post farms as "Groceries""
**Need work on an existing feature? **

In order to drive customers to support local farms and farmers markets, we should cross-list all of our "farm" resources as "groceries" so that they show up when someone asks to see grocery resources.

How should we achieve this?

Add another column for the secondary listing?

OR

Copy & paste all of the "farm" resources and list them as "grocery" as well?

[2020-03-29 05:44] suddengenesis commented on #27
Here's one rough idea of how this might work. What do you think?
<img width="1031" alt="Screen Shot 2020-03-29 at 1 40 53 AM" src="https://user-images.githubusercontent.com/24510849/77842290-96421880-715e-11ea-9fa6-10a96abd8d4f.png">
We can pick from quite a few other icons for the button, too: https://bootstrap-vue.js.org/docs/icons

[2020-03-29 06:31] suddengenesis commented on #27
It looks like it will work pretty well for mobile phones, too. I also turned the organization names into links and have all the text pulled out to be translated.
<img width="340" alt="Screen Shot 2020-03-29 at 2 30 16 AM" src="https://user-images.githubusercontent.com/24510849/77842869-5af71800-7165-11ea-9020-1ddbc9cffcbf.png">

[2020-03-29 07:07] suddengenesis commented on #33
In looking into this, we realized we may be able to get access to G Suite as part of Code for America so we can set up a group rather than individual user for some of this access. There may be some other implications for this, though, like transferring http://www.codeforchapelhill.com/ to their registrar. Discussion continues on Slack.

[2020-03-29 07:13] suddengenesis commented on #31
I just tried to reproduce this in both Chrome and Safari on a Mac laptop, as well as Edge and Chrome on a Windows 10 machine but didn't see it happen. The markers all showed when I clicked "back." Is there a particular OS/browser where this still occurs?

[2020-03-29 12:57] suddengenesis commented on #43
Which ones make sense to have different singular/plural phrases? Here are the set I'm pretty sure should:

- Free grocery location(s)
- Free meal location(s)
- Free produce location(s)
- Medical worker discount(s)

These I'm not sure about but am leaning toward probably:

- Meal(s) for students
- Meal(s) open to public

These don't look like they need to be plural:

- Curbside pick-up
- Delivery
-

[2020-03-29 13:05] suddengenesis commented on #43
I notice that in Spanish "Curbside pick-up" is translated to "Restaurantes con recogida en la acera" and in French as "Restaurants avec ramassage en bordure de rue" which sound like they should aware of the number. I don't know Korean to tell if that one has any others that may also need the same treatment.

[2020-03-29 13:33] suddengenesis commented on #42
I think this one should be fixed alongside #43 to get the plural working correctly.

[2020-03-29 13:37] readingdancer commented on #48
@KM-Hanson With the current flat data structure, this is not possible. The current drop down filter selects records based on the Resource column, i.e. if you select "Restaurant" it will return all the restaurants.

I was envisaging these prepared meals would all be coming from that category? I.e. rather than add another category to the drop down, could we not have one of the top filters ( or an ad

[2020-03-29 13:45] readingdancer commented on #49
@KM-Hanson  Definitely not the Copy & Paste option :)

To me, it sounds like these should potential all be listed under Grocery and we should have two additional flags to say these are Farm or Farm Market.

If this data set increases a lot, we can always split them into their own section?

[2020-03-29 13:46] readingdancer commented on #49
This ticket is related to issue #46

[2020-03-29 13:49] readingdancer commented on #43
There is the ability to use singular and plural in the translation files, instead of using $t you need to use $tc like this:

`this.$tc('category.restaurant', 2)`

The number indicates the number of items.

The two translations are stored with a pipe between them, e.g.

`"restaurant": "Restaurant|Restaurants",`

[2020-03-29 14:02] readingdancer commented on #27
I think it looks good for now, it will all depend how much content @KM-Hanson would like to put in this area. I can imagine that this might need to end up being a full page of it own in the future.

I think we will want to have links to the GitHub page for people who might want to help contribute, we can then easily put a lot more information on the github pages about contributing data as well as

[2020-03-29 14:56] KM-Hanson commented on #27
@suddengenesis  I think this looks great! I like the solution to just use an icon on the page to save on space and make it a workable solution for mobile.

3 quick fixes:

 (1) I have the name of one of the partners wrong - it should be "Chapel Hill Downtown Partnership"

(2) We should add Carolina Farm Stewardship Association
https://www.carolinafarmstewards.org/on-farm-pickups/

(3) I think the

[2020-03-29 14:59] KM-Hanson commented on #42
@suddengenesis Yes - I agree. Listed this one separately as a minimum fix. At minimum, the wording in these two boxes should match, even if we don't fix #43.

[2020-03-29 15:04] KM-Hanson commented on #43
@suddengenesis

**Adding one more item from Issue #46:**

Farmers market(s)

**Agree with:**

Free grocery location(s)
Free meal location(s)
Free produce location(s)
Medical worker discount(s)

I think we should leave both "free meals" items as fixed plural.

[2020-03-29 17:07] suddengenesis commented on #27
@KM-Hanson @readingdancer I've spruced this up a bit - what do you think?
<img width="520" alt="Screen Shot 2020-03-29 at 1 06 22 PM" src="https://user-images.githubusercontent.com/24510849/77855397-2fece280-71be-11ea-9be6-4b41b5f62296.png">
<img width="520" alt="Screen Shot 2020-03-29 at 1 06 31 PM" src="https://user-images.githubusercontent.com/24510849/77855398-30857900-71be-11ea-9556-f64beb1d6

[2020-03-29 17:21] KM-Hanson opened #50 "Need information on which edition of the web page is being shown (Orange County, etc.)"
****Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.**

We need a way to communicate the geographic extent of the resources shown on the map.

We should have this on our page, even if the project does not grow beyond Orange County. Folks are not going to pay attention to the URL to notice that our site is intended for Orange County.

Also, having the geogra

[2020-03-29 17:24] suddengenesis commented on #43
I've also noticed that "Curbside Pick-up" is used each of grocery, restaurant, pharmacy, and pet, as well as the currently unused "family" category. It would probably be more appropriate to translate this as "business" rather than "restaurant" in Spanish and French. I recommend we open a separate translation issue on that, but will handle the plural for it with this change.

[2020-03-29 17:53] KM-Hanson commented on #27
@suddengenesis
I like it! What is the Slack link? Is that the invitation link that I sent you? Let's wait to include that until we get input from @garrisonreid

I would add some text encouraging other communities to replicate the project.

**Suggested new text for the Get Involved tab:**

"This is an open-source project <add link to license info when ready>. **You** can build a database for your c

[2020-03-29 17:55] KM-Hanson commented on #27
@suddengenesis this part got lost in my comment.....

we should link to our license info & spreadsheet template.... but we don't have those ready yet :) i'll create issues for those items.

[2020-03-29 17:57] KM-Hanson opened #52 "Add open source license info on GitHub"
**Have an idea for an additional feature?**
(a) Describe the feature

We need to decide on and communicate the license for our site.

I don't have experience with this. Some info below. @garrisonreid Any CfA protocols here?

https://opensource.org/faq#which-license

[2020-03-29 18:01] KM-Hanson opened #53 "Need spreadsheet template on GitHub."
**Is your feature request related to a problem? Please describe.**

We need a spreadsheet template file to encourage other communities to build their own version of the tool.

The spreadsheet should have 3 tabs/components:

1. ReadMe with brief overview/ intro on how to use the document
2. Sample data from all of our resource categories
3. the metadata/ data dictionary

.csv files can't support mu

[2020-03-29 19:03] KM-Hanson opened #54 "Create "Shop Safe" pop-up box"
****Have an idea for an additional feature?**
(a) Describe the feature**

I think we should have a positive peer-pressure reminder when visitors first land on the site.

**(b) How does it need to perform?**

Can we have a pop-up box (similar to the About box) that automatically is up when someone first visits the site? They user would have to click the X to dismiss.

Suggested text:

"Please, SHOP

[2020-03-29 20:02] suddengenesis commented on #27
Sounds good! I think this is close enough that I'm going to recommend merging it back into `master` to avoid conflicts. There are a few minor things I'd like to fix, but we can open separate lower priority issues for these:

1. When the screen is short enough, the top of the modal is clipped by the navigation bar. This loses about a third of the 'X' to close, but the title is still fully legible.

[2020-03-29 21:41] suddengenesis commented on #52
I've often seen places use Creative Commons: https://creativecommons.org/

Common derivations are here: https://creativecommons.org/share-your-work/licensing-examples/

[2020-03-30 00:47] suddengenesis commented on #33
Important to note that according to https://marketingplatform.google.com/about/analytics/terms/us/:

We should definitely figure out where this would live and what it would contain before working on setting up Analytics.

[2020-03-30 01:19] #42 closed

[2020-03-30 01:19] #43 closed

[2020-03-30 02:06] KM-Hanson commented on #31
OK - I tried to reproduce the error myself and I could not. I'll do a better job of documenting the behavior if I see it again :)

[2020-03-30 02:06] #31 closed

[2020-03-30 02:21] KM-Hanson commented on #52
Sounds like we should aim for CC BY-NC or CC BY-NC-SA.

Here is a summary from [Foter.com](https://foter.com/blog/how-to-attribute-creative-commons-photos/):

![Screen Shot 2020-03-29 at 10 20 55 PM](https://user-images.githubusercontent.com/58799043/77869180-96e4b880-720b-11ea-91d1-0b0c7053e3fa.png)

[2020-03-30 02:26] KM-Hanson commented on #49
There could be 15-20 entries that are farms or farmers markets, based on what I am finding for Orange County. I think it would be good to list Farms & Farmers Markets as a separate section.  I like having a separate drop-down item for the farms because as a user/consumer it triggers me to think "oh yeah - we have lots of farms in our area! we are so fortunate. I should do what I can to support tho

[2020-03-30 02:34] KM-Hanson commented on #48
@readingdancer This is related to #47 (which asks to create a drop-down item for "Prepared Family Meals."

I wanted to add a "pre-order" panel to the banner because many of the family meal operations are only offered certain days of the week and you have to place a pre-order a day or a few days before picking up the food. I think it is easier for the user to have the "Prepared Family Meals" as a s

[2020-03-30 02:43] readingdancer commented on #49
Yes indeed, if there are that many it sounds like a good idea. However I think your point of them being lost might also be a reason to not include them on the Groceries section. IMHO it's confusing to show them on both.

However, we do have another option which we have not discussed yet, which is to show different pin points. E.g. One could have a tractor in the head of the pin point and the other

[2020-03-30 02:48] readingdancer commented on #27
Hi Adam,
On your point about the data file, I was actually thinking that if we find we continue to build this site, we might want to have a real "back office" content management system and as such, this would all be part of the "content".
I wouldn't worry about separating them out for now, like you said we have enough other priority tickets on our plate :)
Cheers, Chris

[2020-03-30 04:03] KM-Hanson commented on #49
OK, good points. I vote for having a separate "Farms & Farmers Markets" section and then leaving those resources out of the "Groceries" section.

[2020-03-30 16:18] readingdancer commented on #25
Hi @KM-Hanson the translations so far have nearly all been done by me adding them, they have to be added to the translation files manually. If you use the BabelEdit tool it makes it very easy as it integrates with Google Translate, however the tool is only free for 7 days and we could really do with native speakers checking the translations before we put it live.

[2020-03-30 16:19] readingdancer commented on #25
I will close this issue now, as the list has been updated :)

[2020-03-30 16:19] #25 closed

[2020-03-30 17:19] readingdancer commented on #46
Hi @KM-Hanson

I have added the new Farm section and have added one test entry to the Spreadsheet which you are welcome to delete when real data is added.

We will still need to add the additional data files so some of the numbers at the top are not yet real. I will wait until you have merged all of your changes into the live table before trying to plumb that in.

Cheers, Chris

[2020-03-31 04:48] readingdancer commented on #13
@jasonajones73 or @KM-Hanson could you check on mobile that you are happy with the top boxes so we can close this ticket?

[2020-03-31 04:51] readingdancer commented on #49
I think we can close this ticket :)

[2020-03-31 04:51] #49 closed

[2020-03-31 13:10] jasonajones73 commented on #13
Looks good!

[2020-03-31 13:10] #13 closed

[2020-03-31 13:11] jasonajones73 commented on #11
Closing because the project has migrated to a new platform!

[2020-03-31 13:11] #11 closed

[2020-03-31 13:11] jasonajones73 commented on #12
Closing because the project has migrated to a new platform!

[2020-03-31 13:11] #12 closed

[2020-03-31 14:25] #27 closed

[2020-03-31 15:53] readingdancer commented on #19
I have moved this to the "Ice box" as I don't think it's essential for an initial launch of the site.

[2020-03-31 16:12] readingdancer commented on #50
I think we should leave the title as it is, it's short and precise and current fits on a mobile device. If we make the title any longer it's going to start wrapping.

My thought it we add a little "note" in the left hand, see the attached screen grab of an example.

![Orange County Idea](https://user-images.githubusercontent.com/4398217/78049323-ec72af80-7348-11ea-88f8-a0db26f7a21c.jpg)

[2020-03-31 16:34] KM-Hanson commented on #50
I like the approach!

Small suggested edit:

”Currently, this site supports Orange County, NC. With your help, we can
expand our coverage.”

And maybe make the font one notch larger?

On Tue, Mar 31, 2020 at 12:13 PM Chris Houston <notifications@github.com>
wrote:

[2020-03-31 16:47] readingdancer commented on #50
@KM-Hanson how about this?

![OC Info 2](https://user-images.githubusercontent.com/4398217/78052923-cc91ba80-734d-11ea-85b2-ecdd8e98ad78.jpg)

[2020-03-31 16:50] KM-Hanson commented on #50
Great solution! Yes, now very noticeable.

On Tue, Mar 31, 2020 at 12:48 PM Chris Houston <notifications@github.com>
wrote:

[2020-03-31 19:25] readingdancer commented on #50
We have agreed that the info panel I added covers this ticket for now, if our reach expands we will just need to raise a new ticket.

[2020-03-31 19:25] #50 closed

[2020-04-01 04:38] KM-Hanson opened #67 "Align text on information box"
**Need work on an existing feature? **

Can we move the text or resize the icon so that the word "coverage" is in-line with the rest of the text?

![Screen Shot 2020-04-01 at 12 33 37 AM](https://user-images.githubusercontent.com/58799043/78099796-047e1980-73b1-11ea-9364-10d1fc9cdfe0.png)

[2020-04-01 04:43] KM-Hanson commented on #47
@readingdancer This seems to be complete. One small edit - add a hyphen to pre-order:

![Screen Shot 2020-04-01 at 12 41 58 AM](https://user-images.githubusercontent.com/58799043/78100057-c2090c80-73b1-11ea-9a3f-e291478d4a51.png)

[2020-04-01 04:43] readingdancer commented on #45
I think we can close this one @KM-Hanson as I think we agreed to keep it as it has now been implemented?

[2020-04-01 04:44] readingdancer commented on #48
This has been implemented :)

[2020-04-01 04:44] #48 closed

[2020-04-01 04:46] readingdancer commented on #47
Added the text, it will be in the next release :)

[2020-04-01 04:46] #47 closed

[2020-04-01 04:48] readingdancer commented on #67
@KM-Hanson Which browser are you using and on what device?

I see the following on Chrome on a PC:

![info-snip](https://user-images.githubusercontent.com/4398217/78100338-802c9600-73b2-11ea-9f1e-9f158b54cdd3.jpg)

[2020-04-01 04:50] KM-Hanson opened #68 "Have day of the week scroll bar start on Monday instead of Sunday?"
![Screen Shot 2020-04-01 at 12 48 58 AM](https://user-images.githubusercontent.com/58799043/78100438-c4b83180-73b2-11ea-82e3-681cbad492c9.png)
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

It seems more intuitive to have the scroll bar for day of the week start on Monday rather than on Sunday. Is that an easy edit?

[2020-04-01 04:52] KM-Hanson commented on #67
@readingdancer I'm on Chrome Version 80.0.3987.116 on a Mac.

[2020-04-01 04:57] KM-Hanson commented on #67
This also happens on my mobile version.

[2020-04-01 05:03] KM-Hanson commented on #54
We chatted about having this as part of the side-bar on the left when a user first visits the page. A pop-up box that needs to be dismissed would make the site less accessible for visitors.

[2020-04-01 05:09] KM-Hanson commented on #45
Yes - we can close #45.

'Farms & Farmers' Markets' now appears as an item in the drop-down menu. We will not cross-post Farmers' Markets in the 'Groceries' category.

[2020-04-01 05:09] #45 closed

[2020-04-01 05:13] readingdancer commented on #54
Just for the record, this is what I suggested we implement and it will be in my next deployment.
![hands](https://user-images.githubusercontent.com/4398217/78101584-f1217d00-73b5-11ea-8716-1f05d54fed41.jpg)

[2020-04-01 05:34] KM-Hanson opened #69 "Update text and links for the "About us" section"
Screenshots of the current content are below. These will need some text updating (possibly adding partners) and updates to some links (including the contact email).

![Screen Shot 2020-04-01 at 1 31 46 AM](https://user-images.githubusercontent.com/58799043/78102656-db618700-73b8-11ea-96a8-e7ef08d6dd26.png)

![Screen Shot 2020-04-01 at 1 31 39 AM](https://user-images.githubusercontent.com/58799043/

[2020-04-01 14:18] readingdancer commented on #46
This has all been finished so I am closing this ticket.

[2020-04-01 14:18] #46 closed

[2020-04-01 14:18] readingdancer commented on #54
This is now live so we can close this ticket.

[2020-04-01 14:18] #54 closed

[2020-04-01 16:57] readingdancer opened #72 "Convert the solution to use SASS"
**Have an idea for an additional feature?**
(a) Describe the feature

By using SASS we can build our own custom CSS and customize the bootstrap variables.

(b) How does it need to perform?

We need this to work as part of the build process and to compile a production version on deployment that is minified and compressed as much as possible.

(c) How will we code it?

My suggestion would be to use

[2020-04-03 04:10] KM-Hanson opened #77 "Add support for multiple phone numbers (ex: 2 different languages)"
**Have an idea for an additional feature?**
(a) Describe the feature

Can we add support for a resource that gives 2 contact phone numbers. For example....

English: 919.695.6334
Espanol: 919.698.8666

[2020-04-03 19:59] readingdancer opened #87 "Add a privacy policy which also mentions the cookies."
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

We need a privacy policy that tells people how we are tracking the website usage.

[2020-04-03 20:01] readingdancer commented on #35
We changed the tiles and everyone is happy with them now :)

[2020-04-03 20:01] #35 closed

[2020-04-03 20:01] readingdancer commented on #34
The list view is built and working well.

[2020-04-03 20:01] #34 closed

[2020-04-03 20:03] readingdancer commented on #33
I have added Google Analytics and setup a new ticket for the privacy policy:

https://github.com/code-for-chapel-hill/COVID-Support-For-CH/issues/87

[2020-04-03 20:03] #33 closed

[2020-04-03 20:04] readingdancer commented on #68
This is done :)

[2020-04-03 20:04] #68 closed

[2020-04-03 20:05] readingdancer commented on #67
This has been fixed, please confirm you are happy and close this ticket @KM-Hanson

[2020-04-03 20:08] readingdancer commented on #44
@KM-Hanson We did chat about this, but I just thought I'd update the ticket :)

IMHO this does not matter, if the end user cannot remember what they searched for, it's unlikely they can use the website at all. Google Maps works in the same way, I think we can assume that if you searched for something, you will know and don't need to be reminded :)

Just my 2 UK pence...

Please close the ticket if

[2020-04-03 20:10] readingdancer opened #88 "Add hours to the details panel on the left"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

To be able to see the opening hours.

(b) What do we need to code next?

Pull the opening hours out of our data for both normal and senior hours if available and display them in the details panel.

[2020-04-04 12:50] suddengenesis commented on #69
I’d fixed the `label.email_lowercase` to read `email`. It now has the real email there which looks even better. I also see the email link on the third bullet item of the `Get Involved` tab. What other changes are needed here?

[2020-04-04 18:53] suddengenesis commented on #52
I think you're right, @KM-Hanson. Either of those could work. Who can make the final call on this?

[2020-04-04 19:01] suddengenesis commented on #44
It may still be useful to have a thin header above the buttons in case someone takes a screenshot to share with others, for instance. It might looks something like this:
<img width="1240" alt="Screen Shot 2020-04-04 at 3 01 35 PM" src="https://user-images.githubusercontent.com/24510849/78459176-37f8c680-7685-11ea-94c6-8206c5d47a2d.png">

[2020-04-04 19:15] KM-Hanson commented on #67
Yes - looks good on Chrome on my Mac and also on the mobile version.

[2020-04-04 19:15] #67 closed

[2020-04-04 19:19] KM-Hanson commented on #44
@readingdancer I think the thin header is a nice option. Maybe in a more noticeable color?

[2020-04-04 19:22] KM-Hanson opened #89 "Increase visibility of the arrow that shrinks/expands the side tab"
**Need work on an existing feature? **

Currently, there is a small, light grey arrow that is used to shrink or expand the side bar. This arrow can be difficult to notice, particularly on a mobile platform when trying to expand the side bar.

Can we change the size or color of the arrow to make it obvious to users?

![Screen Shot 2020-04-04 at 3 19 43 PM](https://user-images.githubusercontent.com/

[2020-04-04 19:30] KM-Hanson opened #90 "Add a search box for users who want to find a specific resource or business"
**Have an idea for an additional feature?**
(a) Describe the feature

Currently, the site does not really support users who have a particular resource or business in mind. A search bar would help users navigate the available resources.

(b) How does it need to perform?

We could follow the Google Maps approach and have a search bar at the top of the side panel.

On our site, this search bar could

[2020-04-04 19:43] KM-Hanson opened #91 "Add auto-translations for additional languages"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

These are additional languages that are in need in Orange County. County officials will help us find translators to verify the text when we have the auto-translated draft prepared.

Mandarin Chinese
Japanese
Arabic
Karen/Burmese
Kinyarwanda

(b) What do we need to code next?

Generate json files for the ad

[2020-04-04 20:36] suddengenesis commented on #44
Here's two other possible options- first one is the average of the two value box colors (5ba68f). I think it's a little busy and may clash. Second is purple tone (7777aa) that looks a little better to my untrained eye.
<img width="1239" alt="Screen Shot 2020-04-04 at 4 27 18 PM" src="https://user-images.githubusercontent.com/24510849/78460825-2c5fcc80-7692-11ea-996d-f273efaaf589.png">
<img width="

[2020-04-05 04:06] KM-Hanson commented on #69
@suddengenesis Yes, agreed that the full email looks better.

The "Get Involved" text should be improved. Here is a suggestion, open to your edits:

----------------------------------------------------------------------

This is an open-source project, built to share and expand to other communities.

**Add your community to our map for North Carolina:**
(1) Email us at contact@nccovidsupport.org.

[2020-04-05 04:23] KM-Hanson commented on #52
@suddengenesis I think CC BY-NC-SA is most appropriate.

Here is the link to the license language: (I have not yet read thoroughly! Not sure if we need to change any text)
https://creativecommons.org/licenses/by-nc-sa/2.0/legalcode

I think we should add:
(1) Copyright 2020 Code for Chapel Hill (scroll down on [this site](https://codefordurham.com/project/drivers-license-recovery/) for an example)

[2020-04-05 04:44] KM-Hanson commented on #52
Opening a new Issue for adding the copyright and license logo.

[2020-04-05 04:47] KM-Hanson opened #92 "Add copyright text and license logo"
**Have an idea for an additional feature?**

We should add:
(1) Copyright 2020 Code for Chapel Hill (scroll down on [this site](https://codefordurham.com/project/drivers-license-recovery/) for an example)

![Screen Shot 2020-04-05 at 12 18 28 AM](https://user-images.githubusercontent.com/58799043/78467042-b5005c00-76d6-11ea-8ea4-8b823239b264.png)

(2) an image of the license logo....

The license

[2020-04-05 04:48] KM-Hanson commented on #92
Linked to Issue #52

[2020-04-05 05:17] KM-Hanson opened #93 "Small edit to the meta description"
**Describe the bug**
The current text might give the impression that the site lists many different types of free resources:

North Carolina community resources during the COVID-19 Coronavirus pandemic. Free meals, groceries, produce, pharmacies, pet supplies & senior citizen hours.

Suggested edit:

COVID-19 updated information for North Carolina communities. Find free meals & how to shop restaura

[2020-04-06 03:22] readingdancer commented on #93
Hi @KM-Hanson

The current live text includes more words that I think people might try to search, is there any way we can re-word to also include the Pets & Seniors?

How about we put the free meals at the end of the list?

**NC COVID Support - Community Resources for North Carolina**
Find groceries, produce, pharmacies, pet supplies, senior citizen hours & free meals in North Carolina during the

[2020-04-06 04:55] readingdancer commented on #52
Hi @KM-Hanson can we have a chat about this one on Monday so that I can put something up onto GitHub, let me know when you are free via Slack.

[2020-04-06 05:29] readingdancer commented on #91
I have added:

Mandarin Chinese
Japanese
Arabic
Karen/Burmese

Will need to figure out Kinyarwanda tomorrow, also perhaps a future ticket we should add would be to make the site work Right to Left for the Arabic language!

[2020-04-06 12:49] KM-Hanson commented on #93
@readingdancer How about a mix of the two? The primary feature of our site that makes us more helpful than anything else right now is the up-to-date information. So I think it would be good to stress that "COVID updated" point.

**NC COVID Support - Community Resources for North Carolina**
COVID-19 updated information on groceries, produce, pharmacies, pet supplies, senior citizen hours & free mea

[2020-04-06 12:51] KM-Hanson commented on #91
@readingdancer Great - thanks!

Please go ahead and make the file for the Arabic translation, and I will include that in the translation request that we send to our partners. I have a software contact who can advise us on supporting right-to-left languages.

[2020-04-06 13:36] readingdancer commented on #91
@KM-Hanson I have built two sites with RTL and I also did various pull requests in the past to extended the Umbraco CMS to support RTL languages, but always happy to have more help on this project :)

[2020-04-07 12:04] readingdancer commented on #88
This was complete by me in PR #95

[2020-04-07 12:04] #88 closed

[2020-04-07 12:37] readingdancer opened #97 "Display businesses that are currently closed."
**Describe the bug**
Currently we filter by day and only show businesses that are open on that day, I think people will find this confusing if they don't realize that there are potentially other businesses close that are just not open with the current day selected.

**To Reproduce**
Steps to reproduce the behavior:

Search for free meals with Saturday selected and you will find no school meals in

[2020-04-09 01:08] readingdancer commented on #97
This has now been implemented. Closed businesses ( that are open at least one day a week ) are now shown in Grey on the map.

[2020-04-09 01:08] #97 closed

[2020-04-09 01:09] readingdancer commented on #93
In the end we went with:

"Find updated COVID-19 information on groceries, produce, pharmacies, pet supplies, senior citizen hours, free meals and more in North Carolina."

[2020-04-09 01:09] #93 closed

[2020-04-09 01:13] readingdancer commented on #26
This has been completed other than the entertainment section, @KM-Hanson if we get anything in that category I suggest we raise a new ticket to add it.

[2020-04-09 01:13] #26 closed

[2020-04-09 02:46] KM-Hanson opened #105 "Standardize uppercase use in drop down menu"
Small text edit - the terms in the drop-down should be consistent. Do we want to go with, for example, Prepared Family Meals or Prepared family meals? Right now we mix the two strategies:

![Screen Shot 2020-04-08 at 10 42 47 PM](https://user-images.githubusercontent.com/58799043/78852512-84783500-79ea-11ea-8bae-6c5f03e3645f.png)

[2020-04-09 02:56] KM-Hanson commented on #69
@readingdancer Added a "help us build our database" section to my prior suggestion - what do you think?

--------------------

This is an open-source project, built to share and expand to other communities.

**Help us build our database:**
- Add a new business or resource.
- Update an existing entry.

**Become a partner community on our map for North Carolina**:
(1) Email us at contact@nccovidsupp

[2020-04-09 02:57] readingdancer commented on #105
I have changed them all to upper case on the first word only. This will be updated on my next release.

[2020-04-09 03:04] KM-Hanson opened #106 "Sidebar should stay up on fullscreen version"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

When the sidebar is expanded, it hides one of the banner panels at the top and some of the map, which is not ideal.

Can we fix this so that the sidebar shifts the banner & map over when expanded? Otherwise, you have to keep shrinking and expanding the sidebar which get to be a bit annoying.

![Screen Shot

[2020-04-09 03:06] KM-Hanson opened #107 "Consider adding "any day" option to the "When do you need it?" dropdown"
**Have an idea for an additional feature?**
Site testers commented that it might be nice to have an "any day" option for someone who just wants to get a sense for what is available in a given region.

Can we add "any day" do the list of drop down options?

![Screen Shot 2020-04-08 at 11 06 08 PM](https://user-images.githubusercontent.com/58799043/78853711-8db6d100-79ed-11ea-9039-a53abd46bfe0.png)

[2020-04-09 03:11] KM-Hanson opened #108 "Request to know user's location (as a way to center the map for the user & suggest nearby resources)"
****Have an idea for an additional feature?**
(a) Describe the feature**

Would it be possible to determine a user's location & then ask permission to use that location to adjust their experience?

**(b) How does it need to perform?**

If a user allows access to their location, then
(1) the map could move to a centroid near that location as the default view
(1) resources could be sorted based on g

[2020-04-09 03:13] KM-Hanson opened #109 "Add ' to banner for Farmers' Markets"
Banner should read "Farmers' Markets" instead of "Farmers Markets"

![Screen Shot 2020-04-08 at 11 12 07 PM](https://user-images.githubusercontent.com/58799043/78854126-8a701500-79ee-11ea-8bb2-8c49de92fdef.png)

[2020-04-09 03:16] readingdancer commented on #69
How about this?
----
This is an open-source project, built to share and expand to other communities.

**Help us to help your local community**
We have created the following two Google forms to help you [add a new business or resource](url) and a second form to [updating an existing entry](url).

**Would you like to become a local community ambassador?**
We are looking for people who currently have

[2020-04-09 03:18] KM-Hanson commented on #106
This would help solve issue #44 , at least for the fullscreen version.

[2020-04-09 03:30] KM-Hanson commented on #69
@readingdancer   Good points! A few more tweaks to bring down the text volume:

-----------------------------
This is an open-source project, built to share and expand to other communities.

**Support your neighbors and local businesses - help us grow!**
Use our online forms to add a business or update an existing entry.

**Become a community ambassador**
Help us expand coverage across North Carol

[2020-04-09 04:06] #69 closed

[2020-04-14 23:33] #91 closed

[2020-04-14 23:34] #109 closed

[2020-04-14 23:34] #105 closed

[2020-04-14 23:41] readingdancer commented on #106
@KM-Hanson - It does this on purpose and works in the same way Google Maps and other full screen mapping sites currently work.

I suggest that on screen sizes that are XL or above ( we use bootstrap and screens are divided into XS / S / M / L / XL ) we fix the left menu permanently to the left and completely remove the sliding effect. ( This might work from the Large size, I suggest whole does the

[2020-04-14 23:43] readingdancer commented on #44
We have discussed adding labels to the markers and on searches that return multiple types of businesses, show icons in the markers to help identify the business types.

@KM-Hanson - I think we should close this ticket and create two separate tickets for these two additions, is that ok for you?

[2020-04-14 23:53] KM-Hanson commented on #28
@readingdancer Can we mark this closed?

[2020-04-14 23:58] KM-Hanson commented on #106
@readingdancer Fixing the sidebar where feasible seems like a good idea.

Another option would be to stack the 4 banner boxes as a square rather than have then in a line at the top of the page. The 4 panels would be in a 2x2 square at the top right of the map. Is that at all a workable solution?

[2020-04-15 00:00] readingdancer commented on #28
Yes :)

[2020-04-15 00:00] #28 closed

[2020-04-15 00:01] readingdancer commented on #108
Yes this is possible, there are plugins for leafletjs that do this :)

[2020-04-15 00:10] readingdancer commented on #89
I modeled this on the Google Map side bar which I thought a lot of people would be used to using:

![Google Map Side Tab Example](https://user-images.githubusercontent.com/4398217/79285421-867b4180-7e8b-11ea-9c71-d98497afa00a.jpg)

Theirs is a few pixels wider, so we could certainly make ours wider, I also like their hover effect which happens when you hover over it both to open and close, to clos

[2020-04-15 00:12] readingdancer commented on #106
As you know, this is what we do at the smaller size, I purposefully have not done that as I have been trying to limit the amount of vertical space we take away from the map. I think we should implement this as a first step and then perhaps look to improve things at other screen sizes if we still don't like the user experience.

[2020-04-15 00:20] readingdancer opened #116 "Make the About Us dialog full screen on tablet and mobile."
**Have an idea for an additional feature?**
(a) Describe the feature
When the About Us dialog pops up on mobile I would like it to be full screen as being in a "dialog" it is wasting valuable space. With some simple CSS we can change the dialog on mobile to fill the screen and also hide the close cross ( we don't need two ways to close the dialog on mobile, not sure we need two on desktop tbh. )

[2020-04-15 08:36] KM-Hanson opened #117 "Add Data Privacy statement to the About Us panel"
**Need work on an existing feature? **
(a) Describe the outcome needed/goal of the feature.

We should add a statement on data privacy/data use. Here is a working version that I added to the Google forms to submit and update information.

NOTE ON DATA SHARING
The information on NC COVID Support has been gathered from public web sources by volunteers or entered by business owners/resource providers

[2020-04-15 08:37] KM-Hanson commented on #117
Related to #116

[2020-04-15 09:52] KM-Hanson opened #118 "Make the project indexable - follow CfA guidelines"
Excerpted from this page:
https://discourse.codeforamerica.org/t/making-your-project-contributor-friendly/737

(1) Add your brigade and projects list to the organizations.json file so that it shows up on the Brigade Project Index. ([Instructions are here](https://github.com/codeforamerica/brigade-information#how-to-add-or-edit-your-brigade-for-the-api)

(2) Add a description and URL in the title a

[2020-04-15 09:54] KM-Hanson opened #119 "Create a CONTRIBUTING document"
Excerpt from

https://discourse.codeforamerica.org/t/making-your-project-contributor-friendly/737

Create a CONTRIBUTING document
A CONTRIBUTING document is a starting point for many who would like to get involved in your project. A good one does the following things:

Starts with the problem and proposed solution, in just a couple of sentences.
Identifies the major workstreams involved in bringin

[2020-04-15 09:56] KM-Hanson opened #120 "Include your brigade’s projects in the national CfA Project Index"
The [Project Index Statusboard](https://statusboard.brigade.cloud/#/) aggregates all Code for America brigade projects and displays them on a map. Adding your brigade’s projects to the Statusboard can be done through one of several automated (or semi-automated) processes.

See instructions at
https://brigade.cloud/contributing/list-brigade-projects.html

[2020-04-15 10:01] KM-Hanson opened #121 "Add post on engineering needs to national CfA "help wanted" GitHub page"
https://github.com/codeforamerica/covid19-help-wanted/issues

[2020-04-15 10:58] KM-Hanson commented on #89
@readingdancer

Yes - this feature is modeled on Google maps. Note, though.....

(1) I don't think many people actually shrink the sidebar when using Google maps on a desktop ( I never noticed it before working on our site!)

(2) The sidebar is not used on the mobile version of Google maps. The mobile version of Google maps looks entirely different. I've had people comment on the difficulty of fin

[2020-04-15 10:59] KM-Hanson commented on #44
@readingdancer Good idea! Thanks.

[2020-04-15 15:28] readingdancer commented on #120
@KM-Hanson  I have submitted a pull request for this, hopefully that's all we will need to do :)

https://github.com/readingdancer/brigade-information/pull/1

I will leave this ticket open until we know it's working :)

[2020-04-16 01:51] readingdancer commented on #120
This has now been merged in and you can see our project info on their site. Unfortunately their map does not zoom in enough and it looks like Chapel Hill might be buried under other markers or is not being shown on the map at all. I will try and follow up with them about this tomorrow.

https://statusboard.brigade.cloud/#/brigade/code-for-chapel-hill

[2020-04-16 01:51] #120 closed

[2020-04-16 20:57] readingdancer commented on #119
I have installed All Contributors ( https://allcontributors.org/ )

So here goes an initial test:

@all-contributors please add @readingdancer for code data doc design ideas platform review translation tutorial

[2020-04-16 22:08] readingdancer commented on #119
@all-contributors please add @KM-Hanson for business content data doc ideas projectManagement question

[2020-04-17 01:52] glitchedmob opened #131 "Deploying a version for a separate area"
I'm working with [Hack4Good](https://hack4goodsgf.com/) from Springfield MO and we've been looking for ways to help our community respond to COVID-19. This project seems like a really great way to do that. There's just a couple things I wanted to check on before deploying our own version.

- Do you have any issues with us changing the text and images in our version of the site to match our area? e

[2020-04-17 02:22] readingdancer commented on #131
Hi @glitchedmob

No problem with you changing your version for your own local branding, clearly it wouldn't make sense to people otherwise :)

What would be great would be if you can do this in your own Fork, but still contribute changes to the core project so we can all benefit. Honestly not sure how this works in practice, but I am pretty sure it's possible. Or we can potentially look to refacto

[2020-04-17 02:33] KM-Hanson commented on #131
Hi @glitchedmob - Yep - the project is intended to be replicated & shared. Hope it can help! I'll go in and add a spreadsheet template on GitHub tonight. You will see that the second tab has metadata that describes the intended data types (to integrate with the code).

Note that we do adapt the spreadsheet as needed to fit our data and to interface with the code. So we should find a way to coordin

[2020-04-17 02:56] KM-Hanson commented on #131
OK - @glitchedmob I just added a link to the spreadsheet template on the ReadMe section (just below the link to the live page):

![Screen Shot 2020-04-16 at 10 54 15 PM](https://user-images.githubusercontent.com/58799043/79527384-73a47080-8035-11ea-9378-3fcf9548728c.png)

[2020-04-17 02:57] KM-Hanson commented on #53
See #131 .

Added a link to a Google Sheets template to the ReadMe file:

![Screen Shot 2020-04-16 at 10 54 15 PM](https://user-images.githubusercontent.com/58799043/79527448-a3537880-8035-11ea-8bb2-95d4e9fbb3e1.png)

[2020-04-17 02:57] #53 closed

[2020-04-17 03:04] KM-Hanson opened #132 "Add info on how to contribute data or replicate the site to the Contribute.md file?"
The Contribute.md file as of 4/16/20 focuses on how to contribute to the code.

As such, I added a spreadsheet template for the database to the ReadMe file instead of to the Contribute.md file.

It seems like we should address how to contribute by (1) adding data or (2) replicating the site for another location outside of NC.

@readingdancer Should we have separate "contribute" files for each? I d

[2020-04-17 03:10] readingdancer commented on #132
@KM-Hanson

Yes, I agree the data or content side of this project should be discussed in a separate document, the Contribute.md document should be purely related to how people can contribute to the software development side of the project.

We should also have a separate page of information about how to go about replicating the project.

[2020-04-17 05:06] readingdancer commented on #132
@KM-Hanson - As discussed I have just added two additional files and at the same time I have moved all these files into the /docs folder.

I am sure you and I will both want to add more to these files over the next week, but at least this will give us a starting point.

[2020-04-17 05:06] #132 closed

[2020-04-17 05:11] readingdancer commented on #131
Hi @glitchedmob

Just a quick update, I have actually moved the link that @KM-Hanson added earlier this evening to a new page called [Replicating the site](https://github.com/code-for-chapel-hill/NC-COVID-Support/blob/master/docs/replicating-the-site.md)

In summary, it has the Google Sheet template link and ways to contact me to chat about the technical implementation.

Cheers, Chris

[2020-04-17 05:11] readingdancer commented on #121
@KM-Hanson added three posts this evening, thanks Kate 👍

[2020-04-17 05:11] #121 closed

[2020-04-17 05:47] readingdancer commented on #52
If you look on the Creative Commons website you will see that they [advise against using their licenses for software](https://creativecommons.org/faq/#can-i-apply-a-creative-commons-license-to-software).

I have added the following GPL v3 license to the project as I think it covers what we last discussed:

https://github.com/code-for-chapel-hill/NC-COVID-Support/blob/master/LICENSE

[2020-04-17 05:47] #52 closed

[2020-04-17 05:49] readingdancer commented on #92
I think this ticket is actually different to the ticket #52 as that one refers to the software license, however this ticket should be covering the copyright for the data we have collated. Hence this ticket is still valid and open to be fixed.

[2020-04-17 05:50] readingdancer commented on #119
This ticket is now done 👍

[2020-04-17 05:50] #119 closed

[2020-04-17 06:23] readingdancer commented on #21
I have now created this document and written some initial text in it :)

[2020-04-17 06:23] #21 closed

[2020-04-17 06:26] readingdancer commented on #31
@KM-Hanson Is this still an issue? If not, can you move it from the Ice Box to Done?

[2020-04-17 13:04] KM-Hanson commented on #131
@glitchedmob Can you tell that we are happy at the thought of being able to share :)

One more point - you are welcome to change to look of the site as you build your own, but you do not have to. We are happy to make our graphic design and social media elements available so that you can get up-and-running quickly. It might be nice to have some visual consistency as we build a network of sites that

[2020-04-17 14:18] KM-Hanson opened #137 "Add info on social media resources to Contributing documentation"
We need to add info on the social media resources that we have and tips for how to get started with a social media campaign for this type of project (community food/resource map).

That information could live within the existing Contributing document in the material regarding How to Replicate this Site.

This will help:
- folks interested in volunteering to help on social media for NC COVID Suppor

[2020-04-17 14:36] KM-Hanson opened #138 "Add social media & graphic design template files to GitHub"
- favicon
- branding/design starter files
- social media templates

[2020-04-18 01:19] readingdancer commented on #116
This has been fixed by @dsummersl , thank you again :)

[2020-04-18 01:19] #116 closed

[2020-04-18 01:20] readingdancer commented on #116
@all-contributors add @dsummersl with code

[2020-04-18 01:23] readingdancer commented on #116
Trying again :)

@all-contributors add @dsummersl with code

[2020-04-18 01:24] readingdancer commented on #116
And again...

@all-contributors add @dsummersl with code

[2020-04-18 18:20] #72 closed

[2020-04-18 18:21] readingdancer commented on #19
The basic wiki is setup, but I am not sure we are actually going to use it. I will close this ticket.

[2020-04-18 18:21] #19 closed

[2020-04-18 18:43] readingdancer commented on #89
Hi @KM-Hanson

I have tried to do as you suggested, I have made the tab 50% wider, increase the shadow behind it and changed the color of the arrow to match the button color. ( which is one of our "brand" colors )

I have also added a hover effect ( which is translated into all languages ) this will only work on a desktop as hover effects do not work on mobile.

![Open Search Panel](https://user-i

[2020-04-18 23:27] readingdancer opened #147 "Add marker name labels to the businesses"
**Have an idea for an additional feature?**
(a) Describe the feature

In the same way that Google Maps shows labels if you search for a Restaurant, we also would like to display the names above ( or beside ) the markers. I think this functionality already exists in LeafletJS.

(b) How does it need to perform?

As per Google, if they can all fit, show them, if they over lap, don't :)

(c) How will

[2020-04-18 23:29] readingdancer opened #148 "Add Font awesome icons to the markers."
**Have an idea for an additional feature?**
(a) Describe the feature

We would like to use the Font Awesome icons inside the marker pins.

(b) How does it need to perform?

As above, it should show the markers with the Fontawesome icons inside, they should be the same icons we currently use when displaying the business details.

(c) How will we code it?

When I last looked I found there was alread

[2020-04-18 23:30] readingdancer commented on #44
I have created issues #147 & #148 to replace this ticket.

[2020-04-18 23:30] #44 closed

[2020-04-19 04:29] readingdancer commented on #118
I think this should all be done now, the changes have been merged into the CfA file and our projects are showing up on their site.

[2020-04-19 04:29] #118 closed

[2020-04-19 04:33] readingdancer commented on #77
I think we should just add another column in the table for a Spanish phone number, then we simply display it if available. The label should be translated so shouldn't be in the text.

[2020-04-19 04:35] readingdancer commented on #89
Ok, so for now I have removed the tooltips as they seem to break on mobile, as they are not part of making the tab more visible on mobile, I will close this ticket and we can have a new ticket for adding the tool tips in the future ( if I don't figure it out tomorrow )

[2020-04-19 04:35] #89 closed

[2020-04-19 17:09] jason-klein commented on #131
@readingdancer @KM-Hanson Thank you for your support. Just an update since @glitchedmob has been tied up this weekend..

A team here in Springfield MO has been working to put data together and are excited to get this up and running. Thanks for adding the Replicating the Site doc. You can view our progress at a temporary URL http://covidsupport.sgf.dev/

I believe our intent is to launch an identic

[2020-04-19 19:44] zhanknight opened #151 "Site not loading if www prefix used, possible DNS/CNAME issue"
**Describe the bug**
Site loads if accessed from https://nccovidsupport.org
Site does not load if accessed from https://www.nccovidsupport.org (DNS ERROR)

**Expected behavior**
Site should load either way - links in repo and twitter account point to the non-functional URL.

**Screenshots**
<img width="754" alt="Screen Shot 2020-04-19 at 3 39 54 PM" src="https://user-images.githubusercontent.com/2

[2020-04-20 01:05] readingdancer commented on #151
@zhanknight - Thank you for submitting the issue, good spot!

To be honest I thought @garrisonreid and I had both tested this and it was working, so it's rather strange that it's not now.

I have just fixed the Twitter account to point to the correct domain, again, I was sure this was working... @KM-Hanson I don't suppose you changed this today? If not, it's a mystery :)

@garrisonreid would you h

[2020-04-20 02:40] readingdancer commented on #151
@all-contributors please add @zhanknight for finding a bug

[2020-04-21 03:07] KM-Hanson commented on #31
Moved to "Done". This was an early issue and I could not re-create it. Issue closed.

[2020-04-21 06:04] readingdancer opened #157 "Add the VueJS unit testing framework."
**Have an idea for an additional feature?**
(a) Describe the feature

We would like to be able to add Unit tests to the project so that as it grows and is used in more than one location, none of us break the shared functionality.

(b) How does it need to perform?

I need to be able to run the unit tests both locally on a developers machine and also on GitHub as part of the pull process.

(c) How w

[2020-04-21 06:12] #157 closed

[2020-04-22 00:17] dsummersl commented on #148
Sorry for the slow delay, I'm starting on this tonight!

[2020-04-22 02:32] readingdancer commented on #148
No worries, great to have you back again :)

Did you find the package for adding the icons?

[2020-04-22 03:40] glitchedmob commented on #131
Finally got a chance to get back to all this (got real tied up with work stuff the past few days).

@readingdancer a few notes on a real backend for this project.
- One of the things we really liked about this project was how little overhead there was in terms of infrastructure. Since it's all FE code, hosting our own version was not only easy, but also free using Netlify.
- @jason-klein mentioned

[2020-04-22 03:40] #131 closed

[2020-04-22 05:12] readingdancer commented on #131
Hi @glitchedmob

I just thought I'd reply to your message in the same thread in case anyone else finds this discussion.

I am planning to re-factor so that the data ( and it's filtering ) can be swapped out, that way you could continue to use the online spreadsheet and the client side filtering, you could use the Umbraco implementation or implement your own. This also has the added benefit that we

[2020-04-22 05:16] readingdancer commented on #131
@glitchedmob @jason-klein

Another quick FYI, you might have noticed that I've started adding some unit tests using:

https://vue-test-utils.vuejs.org and https://jestjs.io/en/

I am hoping this will help us all in the long run to ensure things work smoothly across 2 or more sites based on the same code base. Feel free to add more tests :)

[2020-04-22 05:20] readingdancer commented on #131
Final thought for the night, if there are things you need changed to enable the easy white labeling of the site, please do raise issues here on GitHub, that way I know what the pain points are and we can discuss how best to implement a fix to ensure it fits in with all the other changes :)

[2020-04-22 12:33] dsummersl commented on #148
There are two out there that come up - one very old, one somewhat old. I went with the newer (`leaflet-fa-markers`). I think I'm going to back to the leaflet site to give the list of plugins a good long look b/c I'm not happy with the lack of styling options I've got...at any rate I've refactored the `businessIcon` function used on the business details component into a central place so that it can

[2020-04-22 14:20] readingdancer commented on #148
Hi @dsummersl

That's a great start, are you able to use the original markers in our project? If so, I have created new versions without the dots in the middle using our color scheme which should work well with the icons.

The only other comment I'd have, is the shadow seems to have disappeared, I would guess it'll be pretty easy to add that back in if you take a look at the original bit of code :

[2020-04-22 15:03] dsummersl commented on #148
I couldn't use the original markers or the shadow with the first library tried :') which is part of why I'm back on the hunt for other options (it also didn't support sizing the fontawesome icons within the pin, which I wanted to do...)...keep you posted, and thanks for the pins!

[2020-04-22 17:12] #32 closed

[2020-04-22 19:25] readingdancer commented on #151
@garrisonreid has fixed this issue, thanks for submitting the issue @zhanknight 👍

[2020-04-22 19:25] #151 closed

[2020-04-22 20:31] #106 closed

[2020-04-23 01:47] #107 closed

[2020-04-23 02:00] readingdancer commented on #77
@KM-Hanson I have just added a new column: "contact_spanish" to the spreadsheet.

@fredlawl - If you do take on this ticket, you will find that the column will be called "contactspanish" as it removes the underscores.

[2020-04-23 02:20] readingdancer commented on #148
This has now been put live, thanks again @dsummersl  :)

[2020-04-23 02:20] #148 closed

[2020-04-23 20:37] readingdancer opened #170 "The "Any" option should be the default option in the day dropdown."
**Describe the bug**
When you first access the site the "Any" option should be pre-selected.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit the website
2. Check the Day of the week drop down, it should say "Any"
3. It won't currently, it says the current day.

**Expected behavior**
We would like this changed to default to "Any"

[2020-04-23 20:44] readingdancer opened #171 "The "Any" option should show ALL results in the highlight boxes."
**Describe the bug**
The Highlight boxes at the top of the page should show a could of ALL businesses that meet the criteria for the highlighted feature, irrespective of the day of the week they offer that service.

**To Reproduce**
Steps to reproduce the behavior:
1. Open the site and select any category
2. Select "any" for the day of the week
3. Check the numbers at the top, they will be the sam

[2020-04-26 15:45] KM-Hanson opened #172 "Add drop-down for "Specialty Food & Beverage""
We need to add a drop down for "Specialty Food & Beverage".

This category will feature businesses tagged as "food_bev" in the "resource" column on the database spreadsheet.

[2020-04-26 16:01] KM-Hanson opened #173 "Add nested hierarchy for resource types in the drop-down menu"
Our list of resource types  featured on the site is expanding.

We should consider a nested hierarchy for resource types in the drop-down menu.

A suggested hierarchy:
(note that the categories with a * indicate likely future categories)

Food
- Free meals
- Grocery
- Restaurants
- Prepared Family Meals
- Specialty Food & Beverage

Pharmacy

Pet Supplies

Non-Emergency Medical Services*
- Eye Care

[2020-04-27 01:14] readingdancer commented on #170
Fixed by @fredlawl in PR #170

[2020-04-27 01:14] #170 closed

[2020-04-27 01:20] #171 closed

[2020-04-27 01:26] readingdancer commented on #147
@dsummersl - If you have any spare time, would you like to tackle this ticket as it's related to the markers, so you know that section of code well :) ?

[2020-04-27 02:00] dsummersl commented on #147
Sure, I should have time this week.

[2020-04-27 20:38] readingdancer commented on #147
@dsummersl - I started to have a look at this today as it crossed over with another ticket I was looking at. I implemented it by forking the Leaflet.ExtraMarkers project. You can see the branch here: https://github.com/readingdancer/Leaflet.ExtraMarkers/tree/Add-Names

That branch allows you to add a Name option which we can then position using CSS.

However, at the moment, I don't like how things

[2020-04-28 23:58] dsummersl commented on #147
That's tough! Looking at the masters, google maps, I see they're maybe more clever than we can be: they don't show all labels if they would overlap a pin or other label.

![image](https://user-images.githubusercontent.com/30856/80549134-69b23400-898a-11ea-87b3-78a0b6a3e5c4.png)

I don't know the leaflet API well enough to know how plausible something similar would be...

Another option maybe would

[2020-04-29 00:18] dsummersl commented on #117
It looks like someone with a licensed copy of BabelEdit would need to work on this ticket (to provide the other translations anyway...the demo version won't translate this text for me :( ).

[2020-04-29 04:32] readingdancer commented on #77
Thanks to @dsummersl for adding a PR to implement this feature.

@KM-Hanson - It's now been put live, however I don't yet see a single record with a Spanish number?

Also I can see some issues with the data in the Contact column, there should only ever be ONE number in that column, if you add more than one number in, you will break the call functionality on mobile.

[2020-04-29 04:32] #77 closed

[2020-04-29 05:24] readingdancer opened #178 "Sort resources based on geographic proximity"
**Have an idea for an additional feature?**
(a) Describe the feature

Instead of alphabetical sorting, change the list to show items sorted by distance from the center of the map.

(b) How does it need to perform?

As the map is moved the items should re-sort based on their distance from the centre of the map.

(c) How will we code it?

Using the Haversine formula described on this page: http://ww

[2020-04-29 05:25] readingdancer commented on #178
I have already got this working, I will push up my changes soon....

[2020-04-29 05:27] readingdancer commented on #108
@KM-Hanson - I created a new ticket to split this request into two distinct bits of functionality and have already implemented a solution to this new ticket, I will hopefully put it live tomorrow.

[Sort resources based on geographic proximity](https://github.com/code-for-chapel-hill/NC-COVID-Support/issues/178)

[2020-04-29 05:54] coryasilva commented on #147
It seems like Google maps is using some sort of rules based labeling engine.  It seems to have rules for not only intersecting with other labels & markers but some basemap icons and labels.

Though I think you can get away with a simple rules engine.  It seems that they are only choosing between three possibilities:
1. Left
2. Right
3. None

Maybe the rules look something like this:
Calculate labe

[2020-04-29 07:37] KM-Hanson commented on #77
@readingdancer Problematic phone #s are now fixed. We will have Spanish phone numbers coming for some of the community resources. I'll check to see if the school meal programs have Spanish contact info.

[2020-04-30 01:06] readingdancer commented on #178
This is now live.

[2020-04-30 01:06] #178 closed

[2020-04-30 01:08] readingdancer commented on #92
@KM-Hanson This is what I was mentioning via Slack earlier, I was wondering if the site should still have a CC license which would cover all it's content, rather than the actual platform which is covered by the software license on GitHub?

[2020-04-30 01:13] readingdancer opened #180 "Add the Bootstrap CSS to the build process."
**Have an idea for an additional feature?**
(a) Describe the feature

Currently we are including the pre-built version of Bootstrap, which means we are not really using it to it's full potential. By including the source SCSS files we can include our own CSS variables which will then be used throughout and these could more easily be overridden by anyone white labeling the site as part of their buil

[2020-05-01 06:26] readingdancer commented on #147
@coryasilva thanks for your reply, I didn't see it until now.

Have you any idea how you calculate the bits you mentioned above? I agree, that would certainly be a good improvement over not having any labels at all.

[2020-05-01 19:24] pa2nther commented on #172
submitted a pull request for this issue.

[2020-05-02 03:18] #172 closed

[2020-05-04 04:06] readingdancer opened #184 "Use a date format function on the last updated date when it is displayed."
**Describe the bug**
I noticed on the Bay Area map that the last updated dates are currently showing in the following format: 2020-04-26T00:00:00Z

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dcl-covid-19.github.io/mega-map-dev/
2. Click on Prepared Meals
3. Click on any listing
4. See error at the bottom of the listing details

**Expected behavior**
I think the date should

[2020-05-04 04:08] readingdancer commented on #184
@mfincker I thought if you have time, you might like to fix this one in the core project and do a PR as I think it would be useful for others as well as your site :)

[2020-05-08 03:05] readingdancer commented on #180
I have done this and merged it in last week :)

[2020-05-08 03:05] #180 closed

[2020-05-09 04:16] readingdancer commented on #41
This now has it's own GitHub project and has essentially been completed, as the development is separate from the main project I am closing this ticket to avoid any confusion.

[2020-05-09 04:16] #41 closed

[2020-05-09 04:21] readingdancer commented on #117
If someone implements this functionality using the translation variables and then just tags me again in this ticket, I can do all the translations as I paid for a license of the BabelEdit software.

[2020-05-09 04:57] readingdancer opened #191 "Move the Lat / Lng coordinates to the theme config files."
**Description of the new functionality**

The latitude / longitude coordinates used as the default map position are currently hard coded, we would like this to be configurable within the "theme.config.js" files in the Theme folders.

**What we need to code**

Currently this is hard coded on this line ( https://github.com/code-for-chapel-hill/NC-COVID-Support/blob/master/covid-19-support/src/App.vu

[2020-05-09 14:45] readingdancer opened #192 "Update the Google Analytics code to be site specific."
**Description of the new feature**

The Google Analytics code should be configurable within the theme config files.

**What we need to code**

Currently this is hard coded on this line:

https://github.com/code-for-chapel-hill/NC-COVID-Support/blob/master/covid-19-support/public/index.html#L83

What we need is this should be moved into each of the Theme.config.js files under a new section settings

[2020-05-09 15:50] readingdancer opened #193 "Add the ability to customize the header "logo""
**Description of the new feature**

Currently the NC COVID Support branding is hard coded inside the [header.vue](https://github.com/code-for-chapel-hill/NC-COVID-Support/blob/master/covid-19-support/src/components/Header.vue) file. This should be pulled out so that it is easily customizable by other groups theming the site with their own branding.

**What we need to code**

The way I think this s

[2020-05-12 18:40] jasonajones73 commented on #147
@readingdancer Instead of having a permanent label, is there any reason the simple mouseover tooltip that Leaflet offers wouldn't be acceptable?

I could probably get that added if that would work for now.

[2020-05-14 02:27] readingdancer commented on #147
@jasonajones73 - Yes, we want permenant labels so they are visible without having to click on them so people can see the business at a glance. in the same way you can on Google Maps etc. If you have 50 pins on the map, you really don't want to have to click on them all to find the right one :)

[2020-05-14 19:01] jasonajones73 commented on #147
@readingdancer that makes sense. Tooltips only show up on mouseover so no click is required but I understand what you are saying. The effort is approximately the same. I just wanted to check since I didn't see it in the thread. I was looking through some Stack Overflow Q&A and noticed that most people resolved this by implementing permanent tooltips and applying their own CSS styling. That doesn't

[2020-05-14 19:12] readingdancer commented on #147
Hi Jason,

Currently we are showing all markers for businesses that are open ( at least one day per week ) and the icons are shown in grey if the they are closed "today" or.. if you select a day in the drop down, then it's indicating if the business is closed on that day of the week.

I've looked into what you are suggesting as well, but I found in some areas when the markers are close together it

[2020-05-18 22:22] pa2nther commented on #184
It looks like this is complete

[2020-05-18 22:33] readingdancer commented on #184
It might be fixed on the Bay Area map, but no change has been sent back up to this repo so unfortunately it’s still a potential issue for others.

[2020-05-19 18:32] eparadise commented on #117
I'll try working in it with translation variables!

[2020-05-19 21:35] readingdancer commented on #192
@fredlawl has implemented a fix for this in his recent PR :) 👍

[2020-05-19 21:35] #192 closed

[2020-05-19 22:20] #117 closed

[2020-05-20 01:23] cw2908 commented on #108
Hi,

I can take this issue. I was able to find the solution.

[2020-05-20 01:47] readingdancer commented on #191
I am working on this one :)

[2020-05-20 02:21] #191 closed

[2020-05-20 03:07] #184 closed

[2020-05-21 17:08] eparadise commented on #193
@readingdancer are you working on this? I would be interested in looking into it if not!

[2020-05-21 17:23] readingdancer commented on #193
Hi, yes I am working on this one, I "think" I've nearly finished it :)

[2020-05-22 04:28] #193 closed

[2020-05-27 04:29] KM-Hanson opened #207 "Edit text on the "information" box to add Chatham County"
**What we need to code**
Edit the text in the information box shown below. The new text should read:

"Currently, this site supports Chatham County and Orange County, NC. With your help, we can expand our coverage."

Note - this box will likely go away in the redesign of the front end. But our partners in Chatham County are some of our best supporters at this point, so it is good to recognize them

[2020-05-27 04:34] KM-Hanson opened #208 "Edit text on partners on the "About us" page"
**What we need to code**
Edit the text shown under the "Info Sources" tab on the "About us" page.

(1) Remove the Carolina Farm Steward Association

(2) Add Pittsboro-Siler City Convention & Visitors Bureau linked to the following url:
https://visitpittsboro.com/

![Screen Shot 2020-05-27 at 12 30 51 AM](https://user-images.githubusercontent.com/58799043/82978148-dd5b5700-9fb1-11ea-9f03-3e5572a858

[2020-05-28 02:08] readingdancer opened #209 "Change the cursor to a pointer when hovering over clickable items."
**Describe the bug**
When a user hovers over items that are clickable such as the drop down lists and the list items the cursor should change to a pointer. ( the little hand that points it's finger )

Currently this does not happen on the drop downs or the list items on the left.

**To Reproduce**
Steps to reproduce the behavior:
1. Hover over the drop down lists
2. It should be showing the pointe

[2020-05-28 03:32] eparadise commented on #207
I can take this!

[2020-05-28 03:32] eparadise commented on #208
I can take this!

[2020-05-28 03:55] NemalPeiris commented on #209
@readingdancer I can work on this!

[2020-05-28 14:40] readingdancer opened #211 "The Map Key needs a "Dark" theme applied."
I think it is pretty clear from this screen grab, we need to apply the dark color theme to the Map Key.

![Map Key needs Dark Theme](https://user-images.githubusercontent.com/4398217/83155559-5d2b1380-a0cf-11ea-8d63-55509a784bfd.jpg)

I.e. It should have a grey background and the font should be light, in the same way as the language drop down.

[2020-05-28 14:44] readingdancer opened #212 "The Map Key needs to use the SVG markers."
**Describe the bug**
Currently the markers shown in the Map Key are our old icons

**Expected Fix for this issue**
1) These need to be replaced with the SVG icons
2) They should use the theme colors in the same way as the map markers

![Map Key Icons](https://user-images.githubusercontent.com/4398217/83156067-f3f7d000-a0cf-11ea-8b35-801692a7bb36.jpg)

[2020-05-28 15:28] readingdancer opened #213 "Add documentation about how to create a theme."
**Description of the new feature**

Documentation about NC COVID Support Themes.

**What we need to code**

As we are now able to apply a Theme to a site generated using our code base, we need to add documentation to detail how to setup a new site, how to use the themes and to build a site using your own theme.

This documentation should cover:

1) All the theme colors and where they are used.
2)

[2020-05-28 15:28] readingdancer commented on #213
@eparadise it would be great if you could help me with this one :)

[2020-05-28 17:59] eparadise commented on #207
Ah- my Babel trial has expired so I don't think I can change the text. @readingdancer maybe you can take care of it? Or anyone else with Babel.

[2020-05-28 18:01] readingdancer commented on #207
@eparadise - If you can create a PR with the English Language change, I can then add the translations.

[2020-05-28 20:08] eparadise commented on #211
I can work on this!

[2020-05-28 20:34] #207 closed

[2020-05-28 20:34] #208 closed

[2020-05-28 21:18] #211 closed

[2020-05-29 03:09] readingdancer opened #218 "Add social media links to the business details."
**Description of the new feature**

The social media links should be added to the business details, the data is already available. These are optional, so the links should only be visible if we have their account details.

**What we need to code**

We have the following possible social media links in our data:

- Twitter
- Instagram
- Facebook.

[2020-05-29 03:16] readingdancer opened #219 "Add the sites own social media links to the top navigation."
**Description of the new functionality**

Using the Font Awesome icons for the social media platforms, we should add links into the header for the following:

- Facebook - https://www.facebook.com/nccovidsupport
- Twitter - https://twitter.com/nccovidsupport
- Instagram - https://instagram.com/nccovidsupport
- GitHub - https://github.com/code-for-chapel-hill/NC-COVID-Support

[2020-05-29 03:55] ronitsingh1405 commented on #219
I'm up for it!

[2020-05-29 05:33] readingdancer commented on #219
Thanks, you will find Font Awesome is already used within the solution, so it should be pretty simple to use the appropriate icons. :)

[2020-06-01 23:51] helenx15 commented on #218
I'll take this one!

[2020-06-02 02:08] readingdancer commented on #218
That's great, thank you @helenx15

You should be able to use the Font Awesome icons and add these social media links underneath the current website link.

[2020-06-02 04:51] readingdancer commented on #108
This PR fixes this item:
https://github.com/code-for-chapel-hill/NC-COVID-Support/pull/224

It was mainly written by @cw2908 and then enhanced by @eparadise and editing by @readingdancer  , a great team effort :)

[2020-06-02 04:51] readingdancer commented on #108
@all-contributors add @cw2908 to code

[2020-06-02 05:22] cw2908 commented on #90
Hi, I can take this issue.

[2020-06-02 05:26] readingdancer commented on #90
@cw2908 - This one is currently in the project "ice box" i.e. it's on hold for the moment.

The reason being is we are about to change the back office across to Umbraco and new API's.

[2020-06-02 07:04] #212 closed

[2020-06-02 07:05] readingdancer commented on #212
Fixed by @fredlawl

Thanks 👍

[2020-06-02 14:48] #219 closed

[2020-06-03 21:57] helenx15 commented on #218
#234

[2020-06-04 02:31] #218 closed

[2020-06-04 02:33] readingdancer commented on #209
This is what I can currently see in Chrome:

![Image from iOS (21)](https://user-images.githubusercontent.com/4398217/83708425-406c6f80-a5ea-11ea-8717-425585deb7bf.jpg)

[2020-06-04 02:40] readingdancer commented on #218
@all-contributors add helenx15 to code

[2020-06-04 02:59] readingdancer opened #236 "Check to see if we already have permission to use the users location."
**Description of the new feature**

When someone currently visits our site and they would like to turn on their location, they need to click the little location icon in the bottom right corner of the screen above the Zoom buttons.

When this is clicked, the user's browser requests the users confirmation and then stores that permission has been granted to use location on our site.

I think it shoul

[2020-06-04 16:15] eparadise commented on #209
@NemalPeiris, as part of a separate PR I changed the cursor to a pointer when hovering over the side dropdowns and the businesses on the left. On my computer, the cursor is a pointer when the dropdowns are opened and closed (screenshot below). However, as seen above, it seems this is not the case for @readingdancer. Would you be willing to work on this? I also use Chrome, so I'm not sure why this

[2020-06-04 17:47] readingdancer commented on #209
One difference is I am using a windows PC and @eparadise is using a Mac. There may be differences in the rendering between the two.

[2020-06-19 04:19] KM-Hanson opened #238 "Fix issues with Leaflet map tiles not loading, gray areas instead"
I've noticed repeated issues with our map tiles not loading correctly. This happens both from my laptop and my mobile phone. I've also noticed problems with the Bay Area site. This has happened to me at various times, not just late at night!

Apparently there are known issues with Leaflet tiles loading. See this post for various ideas for fixes and work-arounds:

https://github.com/Asymmetrik/ngx-

[2020-06-23 05:18] KM-Hanson opened #239 "Problems with loading the site in Safari on Mac"
Version 9.1.2 (11601.7.7)

[2020-06-23 05:19] KM-Hanson commented on #239
![Screen Shot 2020-06-23 at 12 49 12 AM](https://user-images.githubusercontent.com/58799043/85363695-892f8e00-b4ef-11ea-9dbf-3b6036c81127.png)

[2020-06-24 13:58] readingdancer commented on #239
I think @KM-Hanson 's problem was that it was not showing the left hand section or the maps at all.

@eparadise - As you use a Mac, could you please check this ticket and chat with @KM-Hanson if you need more details?

[2020-06-25 23:29] KM-Hanson opened #240 "Add a landing page"
Add a landing page for the site that prompts users to select:

- what they need (from a drop down list)
- their county (from a drop down list)

Aim to replicate this example from the Bay Area site (but select a county instead of enter your zip code):

See the site: https://www.bayareacommunity.org/#/
Link to their code: https://github.com/dcl-covid-19/mega-map-dev

![Screen Shot 2020-06-25 at 7 26

[2020-06-25 23:33] KM-Hanson opened #241 "Add a link to feedback form on the landing page"
**Description of the new feature**

Write here as detailed as possible description about how this new feature should work
This Issue is linked to #240

See the site: https://www.bayareacommunity.org/#/
See the code: https://github.com/dcl-covid-19/mega-map-dev

![Screen Shot 2020-06-25 at 7 30 01 PM](https://user-images.githubusercontent.com/58799043/85805551-a5fbd980-b71a-11ea-92f1-9edb3ec4c61f.p

[2020-06-25 23:36] KM-Hanson opened #242 "Enable a list view for resources"
Create a list-only view for non-location-based resources, similar to the example shown below from the  Bay Area site (see collapsed view and expanded view)

See the site: https://www.bayareacommunity.org/
Find the code: https://github.com/dcl-covid-19/mega-map-dev

![Screen Shot 2020-06-25 at 7 34 14 PM](https://user-images.githubusercontent.com/58799043/85805688-025ef900-b71b-11ea-903c-d68e46b8e2

[2020-06-25 23:38] KM-Hanson opened #243 "Add a "get directions" link out to Google Maps, to appear below the address"
@eparadise Leaving this to you :) The one trick here is we might only apply it to the map-based resources, and not the list-based resources.

[2020-06-25 23:53] readingdancer commented on #243
We could do what the bay area have done and just link on the address, but this does not give you a proper link to the business on Google Maps.

For this to work properly we need to add an additional field to our records that will allow us to link directly to the business, happy for this ticket to implement the address method, but I think we should aim for a better integration afterwards.

[2020-06-25 23:56] readingdancer commented on #240
Whoever implements this, please chat to me first about how to implement it with regard to our integration with the Content Management System.

[2020-06-26 00:59] readingdancer commented on #243
I suggest we add Google, Apple Maps and Waze

Here is the info for Waze: https://developers.google.com/waze/deeplinks

[2020-06-26 01:49] KM-Hanson commented on #243
@readingdancer Can we start with just one re-direct to Google maps, and see how the user experience feels?

To make it work, can we start by redirecting to Google maps based on the lat/lon instead of the address? That might help avoid the navigation picking up the wrong business name, etc. We still might have mistakes, but that should help, yes?

Agreed that we can add better functionality for Pha

[2020-06-26 02:52] readingdancer commented on #243
For Google Maps, the most accurate way of doing this is to pass in the Place ID's as Waypoints:

[code]

We can find the place ID's by using the following page:

https://developers.google.com/places/place-id

This is not part of the scope of this ticket and is really a data entry task.

For now, I suggest we do the following request to navigation to a long / lat location:

https://www.google.com/m

[2020-06-26 02:54] readingdancer commented on #243
Just to complete the set, the Apple Map instructions are here:

https://developer.apple.com/library/archive/featuredarticles/iPhoneURLScheme_Reference/MapLinks/MapLinks.html

Now even if we don't implement them all, we can at least refer back to this ticket :)

[2020-06-26 03:30] eparadise commented on #243
@readingdancer I implemented a get directions link for the meal mapper project, and I went by the address instead of the lat/long. I think that might be a better user experience because then at least when they see the pin in Google Maps they see the address it's directing to. What do you think?

[2020-06-26 03:40] readingdancer commented on #243
@eparadise - As long as the coordinates are correct, when you do the search Google automatically puts the closest address into the search box.

[2020-06-26 03:43] readingdancer commented on #243
Try this for example:
https://www.google.com/maps/dir/?api=1&destination=35.8213371,-79.0866759

I just thought this would guarantee that we always linked to the right location, instead of Google potentially returning the wrong address if it didn't recognize it.

I don't mind either way, as long as it works. It will hopefully not be used for long, as I'd like us to use the Place ID's so we accurat

[2020-06-26 03:46] readingdancer commented on #243
For reference:
https://fontawesome.com/icons/google?style=brands
https://fontawesome.com/icons/waze?style=brands
https://fontawesome.com/icons/apple?style=brands

[2020-06-27 02:49] #243 closed

[2020-06-29 03:19] glitchedmob commented on #242
After talking with @readingdancer I believe we have a good way to tackle this.

- For desktop everything stays just about the same with the exception of the sidebar getting a little wider.
- On mobile we're going to move the "What do you need?" dropdown to be fixed just below the current navigation. Eventually this will be replaced with a search box.
- Also on mobile the listing of items will come

[2020-06-29 04:16] glitchedmob commented on #242
<img width="442" alt="Screen Shot 2020-06-28 at 11 15 02 PM" src="https://user-images.githubusercontent.com/9029666/85972334-537a2180-b995-11ea-8e91-313396533569.png">
<img width="441" alt="Screen Shot 2020-06-28 at 11 15 28 PM" src="https://user-images.githubusercontent.com/9029666/85972340-56751200-b995-11ea-9663-680be425b1c2.png">

Some examples from the mobile version of Google Maps

[2020-06-29 15:28] readingdancer opened #246 "Issues with PurgeCSS being over zealous in it's purging :)"
**Describe the bug**

I have added a package called PurgeCSS to the build process to reduce the amount of unused CSS so that it improves the page load and the Google speed score.

However, currently it is purging some CSS that it shouldn't be, so I think we probably just need to whitelist some dynamic class names, the white list can be found in the vue.config.js file.

Full details about PurgeCSS

[2020-06-29 16:55] readingdancer opened #247 "Hide the Zoom controls on Mobile and Tablet devices."
**Description of the new feature**

On tablets and mobile we don't need to show the Zoom controls ( if you look at popular mapping apps like Google Maps and Apple Maps they don't show them either ) as users naturally pinch and expand to zoom in and out on touch screens.

Another way to look at this ( and maybe the correct way to implement it ) would be to say any device that has a Pointer ( think

[2020-06-29 17:06] readingdancer opened #248 "Improve the usability of the "show my location" icon."
**Description of the new feature**

Currently the "show my location" icon looks like this:

![Current Show My Location Icon](https://user-images.githubusercontent.com/4398217/86034348-6c6fea80-ba08-11ea-9dfb-42a9962586eb.jpg)

### TWO sets of CSS to enable us to view this in different formats

#### First Version
At the moment this is the version that will be used, we would like the icon to be more

[2020-06-29 19:26] eparadise commented on #247
I can try this!

[2020-06-29 19:48] readingdancer commented on #242
@all-contributors add @glitchedmob as code, ideas, design

[2020-06-29 19:51] eparadise commented on #246
I'll try this!

[2020-07-02 04:25] aliciawu-dev commented on #247
i can try this!

[2020-07-02 06:05] aliciawu-dev commented on #248
i can try making this

[2020-07-06 18:42] #247 closed

[2020-07-06 18:42] #248 closed

[2020-07-08 16:26] joonyoungleeduke commented on #236
I'll try this!

[2020-07-08 17:51] readingdancer commented on #236
Sorry @joonyoungleeduke - this one has already been done and is pending being merged in at the moment.

[2020-07-08 17:51] #236 closed

[2020-07-08 17:52] readingdancer commented on #246
@joonyoungleeduke - If you fancy doing some investigation into this issue, it would be great to have this one fixed.

[2020-07-09 18:49] #242 closed

[2020-07-18 13:17] readingdancer commented on #213
@eparadise - Did you get a chance to look at this one?

[2020-07-18 13:19] #173 closed

[2020-07-18 13:20] readingdancer commented on #147
This is still up for grabs if anyone would like a challenge 😄

[2020-07-18 13:26] #108 closed

[2020-07-18 14:22] readingdancer opened #259 "Show contact details on map view for selected business"
**Description of the new functionality**
With our page re-design the business details on mobile are shown as coming up from the bottom of the screen.

Currently when you click on a map icon it shows the whole business details and covers the map.

What we would like is that only the business name and three round buttons with icons inside are shown at the bottom of the screen overlaying the map, so

[2020-07-18 14:28] readingdancer opened #260 "Remove the “When do you need it” drop down"
**Description of the new functionality**
From our data it looks like this is not a very used feature and we would like to clean up the interface and remove it.

( we will be adding more filtering in the future )

**What we need to code**
Remove the drop down and re-code the VueJS code so that it does not try and filter by day of the week.

[2020-07-18 19:57] a-rothwell commented on #260
#261

[2020-07-18 21:07] MiguelLopez6 opened #262 "Convert category dropdown to pull data from API"
**What we need to code**

Create a REST API call to get the categories from https://nccovid.vizioz.com/api/v1/resource/settings

`HTTP GET https://nccovid.vizioz.com/api/v1/resource/settings`

Use the data returned to populate the category selection dropdown.

The data returned is in JSON format, and returns an object containing both a category list (including subcategories) and a regions list. On

[2020-07-18 21:16] MiguelLopez6 opened #263 "Pull the resources map data from the API"
**Description of the new functionality**
Get the resources data from the API available at https://nccovid.vizioz.com/ to populate the data shown in the map.

**What we need to code**
Create a REST API call to get the categories from https://nccovid.vizioz.com/api/v1/resource/getbycategory/{categoryId}

HTTP GET https://nccovid.vizioz.com/api/v1/resource/getbycategory/{categoryId}

Where {categoryI

[2020-07-18 22:21] readingdancer commented on #263
One thing to keep in mind when working on this ticket is that currently the entire dataset is being downloaded when the page first loads, when we implement this change, this will need to be re-coded so that the API is called each time the user selects a different category.

It would of course be good to cache these calls on the client, I think we will add this in a future iterative change.

[2020-07-22 04:16] readingdancer commented on #260
This has been completed by @a-rothwell thanks for your PR :)

[2020-07-22 04:16] #260 closed

[2020-07-22 04:17] readingdancer commented on #260
@all-contributors add a-rothwell to Code

[2020-07-22 13:56] jasonajones73 commented on #147
Sorry I was never able to offer a solution for this @readingdancer. Despite quite a bit of searching on Stack Overflow and browsing through Leaflet documentation and plugins, I was never able to come up with anything other than the permanent tooltips I mentioned above. They don't "intelligently display" though. Sorry about that! I really want to know what the solution to this is if someone finds i

[2020-07-23 01:25] readingdancer commented on #263
This issue is linked to: https://github.com/code-for-chapel-hill/NC-COVID-Support/issues/262 which needs to be implemented first for you to get the right ID's to request the data :)

[2020-07-23 01:33] readingdancer commented on #262
Please add the API URL to the `/themes/theme.config.js` file so that it is configurable per site.

[2020-07-23 01:33] readingdancer commented on #263
Please add the API URL to the `/themes/theme.config.js` file so that it is configurable per site.

[2020-07-24 18:06] jasonajones73 commented on #262
@readingdancer & @MiguelLopez6, I started taking a look at this and I keep running into the same error as I'm testing. I have the API call working fine in a stand-alone script but just not sure if it is a server issue or something I'm doing that is hanging things up.

I'm trying to use `axios` to make the call on component create or mount but keep getting this error message:

[code]

Here is my `a

[2020-08-18 06:47] aevix commented on #209
I did some reading and it looks like the option tag is rendered by the OS so it doesn't allow you to change the theme of the cursor, which is why both of the dropdown menu looks different in the photos above, but one way to get around it is by changing the form select to dropdown but that will also change the way the drop down menu looks. [Here is a link](https://stackoverflow.com/questions/227706

[2020-08-18 07:03] readingdancer commented on #209
Hi @aevix

Thank you for looking into this, it's 3am here and you have just caught me before going to sleep. I will take a look at this tomorrow :)

Cheers,

Chris

[2020-08-19 09:44] aevix commented on #246
I added some more items in whitelist and it seems to have fixed most of the issues but I can't seem to figure out why the fonts are different. Maybe its just not loading locally.
![image](https://user-images.githubusercontent.com/55609333/90617044-d4a2a780-e1d3-11ea-9097-fce07d60ca0f.png)

[2020-08-25 01:42] KM-Hanson commented on #238
No one else has run into similar issues.... looks like this is just a problem with my browser or computer settings. Closing this issue.

[2020-08-25 01:42] #238 closed

[2020-08-25 01:43] KM-Hanson commented on #239
No one else has been able to replicate this problem. It seems to be an issue with my computer. Closing the issue.

[2020-08-25 01:43] #239 closed

[2020-08-25 01:58] KM-Hanson opened #269 "Upgrade the Zoom functionality"
The desired functionality:

When selecting business detail from the list....
- map centers on the selected business
- store the current zoom level selected by the user
- when users selects 'back to list', return to that zoom level previously selected by the user, so that the list is always the same

When changing categories....
- Zoom out to show the full geographic extent of the data
- This part

[2020-08-25 02:39] KM-Hanson opened #271 "Make the "shop safe" box configurable"
The COVID support sites will likely want to keep this box, but it does not make sense for other map types.

We need to make it easy to configure to turn this on/off without any css issues.

![Screen Shot 2020-08-24 at 10 38 32 PM](https://user-images.githubusercontent.com/58799043/91116550-9f2a0e00-e65a-11ea-8f57-196d9f014b31.png)

[2020-08-31 22:29] readingdancer opened #272 "Padding or margin needs adjusting."
**Describe the bug**
If you change the language to French you will see more clearly, we need to adjust the right hand margin ( or padding ) used to allow the text to use all the available space on the desktop left hand panel:

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the site
2. Change the language to French
3. See error

**Expected behavior**
The text should use all the availabl

[2020-08-31 23:16] readingdancer commented on #87
@KM-Hanson - how about the below text:

[code]

[2020-09-01 01:29] fredlawl commented on #147
@readingdancer I can take this over.

[2020-09-01 01:39] readingdancer opened #273 "Zoom in and out icon's "title" should be translatable."
**Describe the bug**
The zoom icons have their title's hard coded in English.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the site on a desktop or laptop and search for something so that you can see the map
2. Change the language to anything other than English
3. Hover your mouse over the zoom in and out icons and look at the title text that should pop up
4. The pop up text will be

[2020-09-07 08:43] aevix commented on #273
I can try this problem!

[2020-09-09 03:57] KM-Hanson opened #276 "Screen for accessibility with axe plug-in"
This is a first step in checking that the site is accessible to all users.

(1) Review the Beginner's Guide to Web Accessibility from deque:
deque.com/web-accessibility-beginners-guide/

(2) Download and use the axe browser extension for Chrome:
https://chrome.google.com/webstore/detail/axe-web-accessibility-tes/lhdoppojpmngadmnindnejefpokejbdd

(3) Learn more about the axe tool here:
https://www.

[2020-09-12 17:38] jayktee opened #279 "Burmese language is translated to Malay"
**Describe the bug**
The Burmese language label (last option on the language dropdown) translates the map into Malay (ISO 639-1 MS). I believe the Burmese ISO 639-1 code is MY.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to language dropdown menu
2. Click on
![image](https://user-images.githubusercontent.com/59407366/93001464-f990ee80-f4e3-11ea-9328-9f83d27e6ef6.png)

3. The language

[2020-09-12 18:08] KM-Hanson commented on #279
@jayktee Thank you for catching this!!

[2020-09-12 18:35] jklafka commented on #259
I can work on this!

[2020-09-12 18:54] KM-Hanson opened #280 "Help us update our translations! No language skills needed - just updating JSON files with new info"
We have improved translation information, and now need to update our translation files.

**(1) find the JSON files:**

NC-COVID-Support/covid-19-support/src/locales/

**(2) Update the text within the JSON files using translations in this Google sheet**
https://docs.google.com/spreadsheets/d/1TyA6Dy7y_ByVkvW72z19cMf5OU6WV7HjGXr_L0dxe_g/edit#gid=19658612

If you are having issues accessing the files

[2020-09-12 19:01] KM-Hanson commented on #279
@jayktee @readingdancer

The intended language is Malay - so it looks like it is just the icon & mouse-over text in the drop-down language menu that need to be fixed.

@jayktee FYI, Here is a link to the updated translations that we received from a local translation firm. It looks like we did not find someone to help with the Malay translations, so your updates would be helpful, thank you!

But we

[2020-09-12 19:02] jayktee commented on #279
@KM-Hanson I actually speak Malay fluently, so if that is the intended language we are golden! <3

[2020-09-12 21:19] KM-Hanson commented on #279
Thank you @jayktee! :)

[2020-09-12 21:21] KM-Hanson opened #281 "Check on Cisco security warning for nccovidsupport.org"
Error experienced on 9/12/20. Error happened both with and without www in the URL.

![Image from iOS (4)](https://user-images.githubusercontent.com/58799043/93005153-5c9e7780-f51c-11ea-99fa-8296d001ee3f.jpg)

[2020-09-13 00:22] aevix commented on #280
I can do this one

[2020-09-13 01:30] aevix commented on #280
@KM-Hanson In Korean and Arabic tabs, it doesn't look like it has the auto translation column does that mean those are already up to date?

[2020-09-15 01:45] KM-Hanson commented on #281
From another user:

Looks like a certificate issue

2:30
NET::ERR_CERT_AUTHORITY_INVALID
Subject: nccovidsupport.org
Issuer: Cisco Umbrella Secondary SubCA sea-SG
Expires on: Sep 16, 2020
Current date: Sep 13, 2020
PEM encoded chain:
-----BEGIN CERTIFICATE-----
MIIDTjCCAjagAwIBAgIEX15X3DANBgkqhkiG9w0BAQsFADBAMQ4wDAYDVQQKDAVD
aXNjbzEuMCwGA1UEAwwlQ2lzY28gVW1icmVsbGEgU2Vjb25kYXJ5IFN1YkNBIHNl
YS1TRzAe

[2020-09-15 01:49] KM-Hanson commented on #280
Hi @aevix - Thanks for taking this Issue!

Ok - tracked it down. The translators for those languages just edited in the "auto-translation" field, so I could not tell where changes had been made. I copied that column into the "corrected text" column.

So unfortunately we just have to go through and update all of the text for those 2 languages, as we don't know where the changes were made (unless yo

[2020-09-15 02:11] readingdancer commented on #281
It looks like it's an issue with your "Cisco Umbraco Cloud Security" product doing something strange with the certificates.

This is what my Google Chrome currently shows for the SSL certificate ( which is managed by GitHub, not by us )

![image](https://user-images.githubusercontent.com/4398217/93156930-26f1be00-f6d7-11ea-830b-a1f5e0be263e.png)

[2020-09-15 04:13] aevix commented on #280
@KM-Hanson thanks for the response! I created a PR with the updated .json files take a look at them when you get a chance 👍

[2020-09-16 23:20] tdooner opened #285 "Add `rapid-response` topic tag"
Hello NC Covid Support team!

I'm Tom, an engineer at Code for America and part of the team of Brigade Network members [working to index projects](https://discourse.codeforamerica.org/t/creating-a-brigade-wide-project-index-brigade-congress-2019/639) in a way that improves discoverability of projects that are aligned with the Priority Action Areas of the network.

Since this project is featured in

[2020-09-18 17:49] readingdancer commented on #285
Hi @tdooner I have added the "rapid-response" tag, I think everything else is up to date, thanks :)

[2020-09-18 17:49] #285 closed

[2020-09-30 21:16] fredlawl commented on #147
Okay so, big update here. I decided I have to put this on pause. This kind of turned into a huge time sink for me. Here's what I discovered:

So in theory, this task isn't too terrible:
1. Get all icons that are _in view_
2. Create labels in DOM, hide, and cache them in a lookup table
3. Perform collision detection on Zoom
4. Draw labels next to their icons, and they move around as the map moves

[2020-10-01 05:06] coryasilva commented on #147
This project might be of interest for you guys. (Unfortunately, I have not had much time for personal programming projects...)
https://github.com/Geovation/labelgun

[2020-10-01 13:57] fredlawl commented on #147
Welp, I feel bad now heh. Oh well... half the fun is the learning, right?

[2020-10-01 14:54] readingdancer commented on #147
Definitely don't feel bad about it @fredlawl I think what you have built ( if we can fix the plugin issue ) is actually better than this Label Gun example, if you look at the demo, the labels might not be clashing with each other, but they do go over the top of other pins, where as your demo you gave us, this is also avoided.

I am going to try and take a look at this over the next week when I get

[2020-10-01 14:54] readingdancer commented on #147
@coryasilva - Thank you for the link, it might also be useful for us, so I will be taking a look as well :)

[2020-10-01 15:53] fredlawl commented on #147
What did you think about the two pre-commits I put together? I think those could be valuable separating the responsibility of that from the parent component to the map component.

[2020-10-02 00:24] coryasilva commented on #147
@fredlawl Yes, nearly all the fun is in learning!  I hope labelgun informs the final solution -- I did not mean it for a drop in replacement for what you are doing.